
<!-- Toast component -->
<app-toast
    [class]="'bg-success'"
    [(status)]="toastStatus"
    [(message)]="toastMessage"
>
</app-toast>
<!-- Toast component -->
<app-toast
    [class]="'bg-success'"
    [(status)]="toastStatus"
    [(message)]="toastMessage"
>
</app-toast>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a [routerLink]="['/room-types']">Room type</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a [routerLink]="['/room-types/create']">Create</a>
        </li>
    </ol>
</nav>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-roomt-type"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Room type</a
        >
        <a
            class="nav-item nav-link"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Facilities</a
        >
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div
        class="tab-pane fade show active pl-1 w-100"
        id="nav-roomt-type"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
    >
        <form [formGroup]="form" class="mt-3 custom-div tabloop">
            <div formGroupName="roomType">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input
                            type="text"
                            formControlName="name"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    (!name.valid && name.touched) ||
                                    (name.invalid && isSubmitted),
                                'is-valid': name.valid && name.touched
                            }"
                            id="name"
                            placeholder="Name"
                        />
                        <!-- show validate error -->
                        <div
                            class="invalid-feedback"
                            *ngIf="name.touched && name.invalid||
                            (name.invalid && isSubmitted)"
                        >
                            {{
                                validationMessage.getErrorMessage(
                                    "Name",
                                    name.errors
                                )
                            }}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="price">Price (per night)</label>
                        <input
                            type="number"
                            formControlName="price"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    (!price.valid && price.touched) || (price.invalid && isSubmitted),
                                'is-valid': price.valid && price.touched
                            }"
                            id="price"
                            placeholder="Price"
                        />
                        <!-- show validate error -->
                        <div
                            class="invalid-feedback"
                            *ngIf="price.touched && price.invalid || (price.invalid && isSubmitted)"
                        >
                            {{
                                validationMessage.getErrorMessage(
                                    "Price",
                                    price.errors
                                )
                            }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Size (m<sup>2</sup>)</label>
                        <input
                            type="number"
                            formControlName="size"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': !size.valid && size.touched || size.invalid && isSubmitted,
                                'is-valid': size.valid && size.touched
                            }"
                            id="size"
                            placeholder="Size"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="size.touched && size.invalid || size.invalid && isSubmitted"
                        >
                            <div *ngIf="size.errors.required || size.invalid && isSubmitted">
                                {{
                                    validationMessage.getErrorMessage(
                                        "Size",
                                        size.errors
                                    )
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numberOfBeds">Number of beds</label>
                        <input
                            type="number"
                            formControlName="numberOfBeds"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    (!numberOfBeds.valid &&
                                        numberOfBeds.touched) ||
                                    (numberOfBeds.invalid && isSubmitted),
                                'is-valid':
                                    numberOfBeds.valid && numberOfBeds.touched
                            }"
                            id="numberOfBeds"
                            placeholder="Number of beds"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="numberOfBeds.touched && numberOfBeds.invalid ||
                            (numberOfBeds.invalid && isSubmitted)"
                        >
                            {{
                                validationMessage.getErrorMessage(
                                    "Number of Beds",
                                    numberOfBeds.errors
                                )
                            }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="numberOfAdults">Number of adults</label>
                        <input
                            type="number"
                            formControlName="numberOfAdults"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    (!numberOfAdults.valid &&
                                        numberOfAdults.touched) ||
                                    (numberOfAdults.invalid && isSubmitted),
                                'is-valid':
                                    numberOfAdults.valid &&
                                    numberOfAdults.touched
                            }"
                            id="numberOfAdults"
                            placeholder="Number of adults"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="
                                numberOfAdults.touched && numberOfAdults.invalid||
                                (numberOfAdults.invalid && isSubmitted)
                            "
                        >
                            {{
                                validationMessage.getErrorMessage(
                                    "Number of adults",
                                    numberOfAdults.errors
                                )
                            }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numberOfChilds">Number of childs</label>
                        <input
                            type="number"
                            formControlName="numberOfChilds"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    !numberOfChilds.valid &&
                                    numberOfChilds.touched ||
                                    (numberOfChilds.invalid && isSubmitted),
                                'is-valid':
                                    numberOfChilds.valid &&
                                    numberOfChilds.touched
                            }"
                            id="numberOfChilds"
                            placeholder="Number of childs"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="
                                numberOfChilds.touched && numberOfChilds.invalid||
                                (numberOfChilds.invalid && isSubmitted)
                            "
                        >
                            {{
                                validationMessage.getErrorMessage(
                                    "Number of childs",
                                    numberOfChilds.errors
                                )
                            }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <textarea
                            class="form-control"
                            formControlName="description"
                            [ngClass]="{
                                'is-invalid':
                                    !description.valid && description.touched ||
                                    (description.invalid && isSubmitted),
                                'is-valid':
                                    description.valid && description.touched
                            }"
                            id="description"
                        ></textarea>
                        <div
                            class="invalid-feedback"
                            *ngIf="description.touched && description.invalid ||
                            (description.invalid && isSubmitted)"
                        >
                            <div *ngIf="description.errors.maxlength">
                                {{
                                    validationMessage.getErrorMessage(
                                        "Description",
                                        description.errors
                                    )
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button
                        type="button"
                        class="btn btn-primary float-right"
                        (click)="createRoomType(); isSubmitted = true"
                    >
                        Create
                    </button>
                    <button
                        type="button"
                        class="btn btn-secondary mr-2 float-right"
                        (click)="redirectRoomTypeList()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div
        class="tab-pane fade w-100"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
    >
        <div class="row mt-5 pl-3 scroll custom-div">
            <div class="col-md-6 facility" *ngFor="let item of facilities">
                <div class="row border-bottom">
                    <div class="col-md-2">
                        <input type="checkbox" [value]="item.id" />
                    </div>
                    <div class="col-md-3">
                        <img
                            src="{{ url }}/upload/{{
                                item.icon ? item.icon : 'facilities.png'
                            }}"
                            alt=""
                        />
                    </div>
                    <div class="col-md-7 name">
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-div">
            <button
                class="btn btn-primary float-right"
                (click)="createSelectedFacilities()"
            >
                Save
            </button>
        </div>
    </div>
</div>
