
.table > tbody > tr > td {
    vertical-align: middle;
}

.modal img{
    width: 100%;
    max-height: 13rem;
}

.scroll {
    max-height: 670px;
    overflow: auto;
    display: inherit;
}

.img{
    max-height: 13rem;
    height: 13rem;
    width: 70%;
}


.room{
    padding: 8px 15px;
    cursor: default !important;
    margin-right: 1rem;
    margin-top: 0.3rem;
    width: 5.3rem;
}
